<?xml version="1.0" encoding="ISO-8859-15"?>

<launch>
	  <include file="$(find lowlevel)/launch/lowlevel.launch"/>
	  <!--<include file="$(find motor)/launch/motor.launch"/>-->
	  <include file="$(find imu)/launch/imu.launch"/>
 	  <include file="$(find raspicam)/launch/raspicam.launch"/>
</launch>
